.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 7%;
}

.logo {
  width: 160px;
  cursor: pointer;
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
}
